<div class="bg-body dark:bg-darkmode-body">
  <a href="{{ .RelPermalink }}">
  {{ $image:= .Params.image }}
  {{ if $image }}
    {{ partial "image" (dict "Src" $image "Size" "800x400" "Alt" .Title "Class" "mb-6 w-full rounded") }}
  {{ end }}
</a>
<!--HALE: colored left-bar depending on first category-->
  {{ $backColor := "" }}
  {{ $categories := .Params.categories }}
  {{ if $categories }}
    {{ if and (gt (len $categories) 0) (eq (printf "%T" $categories) "[]string") }}
      {{ $firstCategory := index $categories 0 }}
    
    {{ if eq $firstCategory "Product" }}
      {{ $backColor = "red" }}
    {{ else if eq $firstCategory "Info" }}
      {{ $backColor = "blue" }}
    {{ else if eq $firstCategory "Application" }}
      {{ $backColor = "green" }}
    {{ else }}
      {{ $backColor = "gray" }}
    {{ end }}
  {{ end }}
  {{ end }}

  <table><tr>
    
    <td width="5px" style="background-color:{{ $backColor }};margin-right:15px;">
    </td>
    
    <td style="padding-left:5px;">
  <h4 class="mb-3">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h4>
  {{/*  <h4 class="mb-3" style="display:flex;justify-content: space-between;">
    
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      <span style='text-align: right;'><a href="{{ .RelPermalink }}"><font size='-1'><u>{{ i18n "read_more" }} &raquo;</u></font></a></span>
    
  </h4>  */}}
<!--
  <ul class="mb-4">
    <li class="mr-4 inline-block">
      <a href="{{ `authors/` | relLangURL }}{{ .Params.Author | urlize }}/">
        <i class="fa-regular fa-circle-user mr-2"></i>{{ .Params.author }}
      </a>
    </li>
    <li class="mr-4 inline-block">
      <i class="fa-regular fa-folder mr-2"></i>
      {{ $categories:= .Params.categories }}
      {{ range $i,$p:= $categories }}
        <a
          href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/"
          class="ms-1"
          >{{ . | humanize }}{{ if ne $i (sub (len $categories) 1) }}
            {{ ", " }}
          {{ end }}
        </a>
      {{ end }}
    </li>
  </ul>
-->
<div style="margin-top:-12px;">
<i class="fa-regular fa-window-restore mr-2"></i>
{{ $categories:= .Params.categories }}
{{ range $i,$p:= $categories }}
  <a
    href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/"
    class="">
    {{ . }}
    {{ if and $categories (ne $i (sub (len $categories) 1)) }}
      {{ "|" }}
    {{ end }}
  </a>
{{ end }}

</div>
</td>
</tr></table>
  <p class="mb-6">{{ .Summary }}
  </p>
  {{/*  <a class="btn btn-outline-primary btn-sm" href="{{ .RelPermalink }}">
    {{ i18n "read_more" }}
  </a>  */}}
</div>
